In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'Total Population': {1960: 3034970564.0,
  1970: 3684822701.0,
  1980: 4436590356.0,
  1990: 5282715991.0,
  2000: 6115974486.0,
  2010: 6924282937.0}})

In [3]:
df

      Total Population
1960      3.034971e+09
1970      3.684823e+09
1980      4.436590e+09
1990      5.282716e+09
2000      6.115974e+09
2010      6.924283e+09

In [4]:
np_vals = df.values

In [5]:
np_vals

array([[3.03497056e+09],
       [3.68482270e+09],
       [4.43659036e+09],
       [5.28271599e+09],
       [6.11597449e+09],
       [6.92428294e+09]])

In [6]:
np_vals_log10 = np.log10(np_vals)

In [7]:
np_vals_log10

array([[9.48215448],
       [9.5664166 ],
       [9.64704933],
       [9.72285726],
       [9.78646566],
       [9.84037481]])

In [8]:
df_log10 = np.log10(df)

In [9]:
df_log10

      Total Population
1960          9.482154
1970          9.566417
1980          9.647049
1990          9.722857
2000          9.786466
2010          9.840375