In [1]:
import pandas as pd

In [27]:
list_keys = ['Country', 'Total']
list_values = [['United States', 'Soviet Union', 'United Kingdom'], [1118, 473, 273]]

In [28]:
zipped = zip(list_keys, list_values)
type(zipped)

zip

In [29]:
for a in zipped:
    print(a)

('Country', ['United States', 'Soviet Union', 'United Kingdom'])
('Total', [1118, 473, 273])

In [32]:
list(zipped)

[]

In [33]:
zipped = zip(list_keys, list_values)
zipped_list = list(zipped)
zipped_list

[('Country', ['United States', 'Soviet Union', 'United Kingdom']),
 ('Total', [1118, 473, 273])]

In [34]:
data = dict(zipped_list)
data

{'Country': ['United States', 'Soviet Union', 'United Kingdom'],
 'Total': [1118, 473, 273]}

In [35]:
df = pd.DataFrame(data)

In [36]:
df

          Country  Total
0   United States   1118
1    Soviet Union    473
2  United Kingdom    273